body {
  font-family: "Lato", sans-serif;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  height: 65px;
  border-bottom: solid #e4e4e4 1px;
}

.top-bar {
  max-width: 1280px;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  line-height: 65px;
  box-sizing: border-box;
  margin: 0 auto;
  z-index: 2;
}

.top-bar > form {
  width: 40%;
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 25px;
  left: 10px;
  opacity: 0.3;
}

.top-bar > form > input {
  width: 80%;
  height: 35px;
  padding-left: 40px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  background-color: #f5f6f7;
  border: transparent;
  border-radius: 5px;
  color: black;
}

.top-bar > form > input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.top-bar > form > input:focus {
  outline: none;
}

.login-buttons {
  display: flex;
  align-items: center;
}

.login-buttons > a:hover {
  cursor: auto;
}

.signup,
.login,
.sell,
.logout {
  height: 30px;
  width: 115px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 12px;
}

.signup:hover,
.login:hover,
.sell:hover,
.sell-now:hover,
.logout:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signup {
  margin-right: 30px;
}

.sell-button {
  display: flex;
  align-items: center;
}

.signup,
.login,
.logout {
  background-color: #fff;
  color: #2cb1ba;
  border: solid 1px #2cb1ba;
  border-radius: 5px;
}

.sell {
  background-color: #2cb1ba;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 5px;
}

.logo {
  height: 60%;
  display: inline-block;
  vertical-align: middle;
}

.hero {
  height: 65vh;
  margin-top: 65px;
  background-image: url(../images/Vinted_hero.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
  margin-bottom: 30px;
}

.tear-effect {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  z-index: 1;
}

.hero-container {
  position: relative;
  height: 100%;
  max-width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 20px;
  padding-right: 20px;
}

.call-to-action {
  width: 352px;
  height: 152px;
  background-color: #fff;
  position: absolute;
  top: 85px;
  display: flex;
  flex-direction: column;
  padding: 54px 24px;
  border-radius: 3px;
  box-shadow: 0 0 8px;
}

.call-to-action > h1 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.sell-now {
  line-height: 40px;
  font-size: 16px;
  font-family: inherit;
  width: 185px;
  background-color: #2cb1ba;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 5px;
}

.call-to-action > button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.offer {
  display: flex;
  flex-wrap: wrap;
  border-left: solid#e4e4e4 2px;
}

.offer > .card {
  margin: 0 15px 30px 15px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px;
}

.offer-img {
  height: 325px;
  width: 195px;
  object-fit: cover;
  margin-bottom: 10px;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: 4px;
}

.card > p {
  font-size: 10px;
  color: grey;
  margin-left: 4px;
  margin-bottom: 4px;
}

.offer-container {
  background-color: #e4e4e4;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box1,
.box2 {
  height: 75vh;
  width: 55vh;
  box-shadow: 0 0 10px #c1c1c1;
}

.box1 > img {
  width: 100%;
  height: 100%;
}

.box2 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.details,
.info {
  margin: 40px;
  flex: 1 1;
}

.details {
  border-bottom: solid 1px #c1c1c1;
}

.price {
  margin-left: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.key-value {
  display: flex;
}

.key,
.value {
  flex: 1 1;
  margin-bottom: 10px;
}

.key {
  color: #999;
}

.value {
  color: #666;
  font-weight: 700;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
  border-top: solid 1px #c1c1c1;
}

.info > h4 {
  font-weight: 700;
}

.description {
  color: #666;
}

.owner {
  color: black;
  text-decoration: underline;
}

.info > button {
  background-color: #2cb1ba;
  color: #fff;
  border: transparent;
  border-radius: 5px;
  height: 35px;
  font-size: 17px;
  font-family: inherit;
}

.info > button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.signup-form > h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.signup-form > input {
  height: 35px;
  width: 275px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px #fcced3;
  font-size: 16px;
  font-family: inherit;
}

.signup-form > input:focus {
  outline: none;
}

.signup-form > input::placeholder {
  color: #cbcccd;
}

.signup-form > button {
  margin-top: 20px;
  height: 45px;
  width: 275px;
  font-family: inherit;
  font-size: 17px;
  border: transparent;
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}

.signup-form > button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.other-form {
  text-decoration: none;
  font-size: 12px;
  color: #2cb1ba;
  margin-bottom: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.login-form > h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.login-form > input {
  height: 35px;
  width: 275px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px #fcced3;
  font-size: 16px;
  font-family: inherit;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input::placeholder {
  color: #cbcccd;
}

.login-form > button {
  margin-top: 20px;
  height: 45px;
  width: 275px;
  font-family: inherit;
  font-size: 17px;
  border: transparent;
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}

.login-form > button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.publish-container {
  background-color: #ebedee;
}

.publish-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.publish-form > h1 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #fff;
  padding: 50px;
  width: 50vw;
  box-shadow: 0 0 10px #c1c1c1;
}

.input-section > input,
textarea {
  height: 35px;
  width: 275px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px #fcced3;
  font-size: 16px;
  font-family: inherit;
}

.input-section > input:focus,
textarea:focus {
  outline: none;
}

.file-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #2cb1ba;
  width: 135px;
  border-radius: 5px;
  height: 45px;
}

.label-file {
  cursor: pointer;
  font-weight: 700;
  color: #2cb1ba;
  height: 47px;
  line-height: 47px;
}

#input-file {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.exchange-box {
  width: 275px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: solid 1px #fcced3;
}

.exchange-box > p {
  color: rgba(0, 0, 0, 0.6);
}

.button-box {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.button-box > button {
  height: 45px;
  width: 275px;
  font-family: inherit;
  font-size: 17px;
  border: transparent;
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  margin: 20px auto 60px auto;
}

.form-section > button:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #e4e4e4;
}

footer > p {
  font-size: 12px;
}

footer > p > a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

footer > p > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer > p > b {
  font-weight: 700;
}
